<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask Blog{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="bg-gray-50">
    {% include 'Layouts/navbar.html' %}

    <div class="container mx-auto px-2 py-8">
        {% block content %}{% endblock %}
    </div>

    <footer class="mt-12 py-8 bg-gray-900 text-white fixed-0 ">
        <div class="container mx-auto text-center">
            <p class="text-gray-400">Flask Blog © 2024</p>
        </div>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>